.container {
    margin: 1rem 2rem;
  }
  
  .restaurants {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
  }
  
  .filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .filter-options button {
    border: none;
    font-size: medium;
    color: #6e6e6e;
    cursor: pointer;
    background: none;
  }
  
  button:hover {
    color: #000;
  }
  
  .filter-options {
    display: flex;
    gap: 1.5rem;
    list-style: none;
  }
  
  .filter-options li::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #fc8019;
    transition: width 0.4s;
  }
  
  .filter-options li:hover::after {
    width: 100%;
  }
  
  #filter-icon {
    background: none;
    border: none;
    color: #fc8019;
    cursor: pointer;
    font-size: 1rem;
    z-index: -1;
  }
  
  #filter-icon:hover {
    color: #e07b00;
  }
  
  #filter-icon i {
    color: inherit;
  }
  
  .restaurant-details {
    width: 23%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: transform 0.2s;
  }
  
  .restaurant-details:hover {
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 15px;
  }
  
  .restaurant-details img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 0.5rem;
  }
  
  .restaurant-details h3 {
    margin: 0.5rem 0;
    color: #333;
  }
  
  .restaurant-details p {
    font-size: 0.9rem;
    color: #666;
  }
  
  .restaurant-review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
    font-size: 0.85rem;
  }
  
  #rate {
    display: flex;
    justify-content: space-between;
    background-color: #68a720;
    align-items: center;
    color: white;
    border-radius: 0.2rem;
    padding: 0.2rem 0.5rem;
    gap: 0.2rem;
  }
  
  #rate i {
    font-size: small;
  }
  
  .restaurant-details button {
    border: 1px solid #fc8019;
    padding: 0.6rem;
    width: 70%;
    margin: 1rem auto;
    border-radius: 1rem;
    background-color: white;
    color: #fc8019;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .restaurant-details button:hover {
    background-color: #fc8019;
    color: white;
  }
  
  #currency {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
  
  #currency svg {
    width: 0.75rem;
    height: 0.75rem;
  }
  .search-container {
    position: relative;
    /* z-index: -1; */
    margin: 20px 0;
    width: 100%;
    max-width: 600px;
    margin: auto;
  }
  
  .search-input {
    width: 100%;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    transition: all 0.3s ease;
  }
  
  .search-input:focus {
    border-color: #fc8019;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.169);
    outline: none;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #888;
  }
  
  .search-input::placeholder {
    color: #aaa;
  }
  