.empty-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem auto;
    gap: 1rem;
}
.empty-image{
    background-image: url(../../images/pot-312359_640.png);
    background-repeat: no-repeat;
    width: 226px;
    height: 200px;
    background-size: cover;
   
}

.empty-cart h3{
    margin: 0;
    font-size: 1.2rem;
}
.empty-cart p{
    margin: 0;
    color: rgb(67, 67, 67);
    font-size: .9rem;
}
.empty-cart .button{
    background-color: #fc8019;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    font-weight: 700;
    cursor: pointer;
}
.empty-cart .button:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.delivery{
    display: flex;
    justify-content: space-between;
    margin: 3rem;
}
.cart{
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
   background: white;
   padding: 2rem;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
   height: fit-content;
}
.cart-element{
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 0.7rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.food-description{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.cart h3 , .cart h4{
    margin: 0;
}
.cart h4{
    font-weight: 100;
    color: #525252;
}
.cart-element-image{
    /* background-image: url(../../../public/images/pexels-roman-odintsov-5339083.jpg); */
    width: 110px;
    height: 90px;
    background-size: cover;
    border-radius: .5rem;
}
.cart-element-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.description h4 {
    margin: 0;
    font-weight: 500;
}
.cart-price{
    display: flex;
    gap: 2rem;
    align-items: baseline;
}
.cart-add-buttons{
    display: flex;
    gap: 0.85rem;
    align-items: center;
   

}
.cart-add-buttons .button{
    border: none;
    background-color: white;
    font-size: x-large;
    cursor: pointer;
   
}
.cart-add-buttons .minus{
  
    color: rgb(179, 179, 179);
}
.cart-add-buttons .minus:hover{
    color: grey;
}
.cart-add-buttons .add{
   color: #60b246;
   font-size: larger;
}
.cart-add-buttons .add:hover{
    color: #52993c;
}
.cart-add-buttons span{
    font-weight: 700;
}
.description span{ 
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
}
.description span svg{
    margin: 0;
    font-weight: 600;
}
.delete-cart{
    border: 1px solid  #e89a9a;
    border-radius: .3rem;
    
}
.delete-cart button{
    border: none;
    color: #fc7f1980;
    background-color: white;
    cursor: pointer;
}
 .check-out {
    padding: 0.6rem 2rem;
    background: #57a140;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
     rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
 .check-out:hover{
    background-color: #60b246;
  
}
 .check-out:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
   
}
.check-out-total {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}
#total{
    display: flex;
    width: 35%;
}

#total span{
    width: 57%;
}
#total #price {
    font-weight: 700;
    width: 30%;
}
.description{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.description .buttons{
    gap: 6rem;
    align-items: center;
}
.price-total{
    display: flex;
    align-items: center;
}
.price-total svg{
    margin-top: 0;
}