*{
  box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: .8rem 2.2rem;
    background-color: #ffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.location{
    padding-top: .4rem;
}
.nav{
    display: flex;
    gap: 3rem;
    align-items: baseline;
    font-weight: 500;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.cart img{
    width: 1.11rem;
}
.icon{
    display: flex;
    position: relative;
    align-items: baseline;
    gap: .3rem;
    cursor: pointer;
    padding: 0.5rem 0.7rem;
    padding-top: 0.3rem;
    text-transform: capitalize;
}
.icon:hover {
    color: #fc8019;
}
svg{
    width: 1.1rem;
    height: 1.1rem;
    margin-top: 0.4rem;
}


.dropdown ,.dropdown  li{
    list-style: none;
} 

  
.dropdown,
.flyout {
  position: relative;
}

.drop-nav {
    position: absolute;
    display: none;
    background-color: #ffff;
    border-radius: 0.3rem;
    padding: 0.9rem 1.5rem;
    padding-left: 0;
    right: 0;
    z-index: 22;
    font-weight: 100;
    box-shadow: #ce5811b3 0px 2px 7px 0px;
}
.drop-nav li {
  border-bottom: 1px solid rgba(255,255,255,.2);
  padding: 0.3rem 2rem;
}
.dropdown:hover > .drop-nav,
.flyout:hover > .flyout-nav {
  display: block;
}

.drop-nav li a{
    color: gray;
}
.drop-nav li a:hover{
    color: black;
    font-weight: 500;
}

.count{
  position: absolute;
    top: 0;
    /* right: 81px; */
    font-size: 11px;
    border-radius: 35%;
    width: 15px;
    height: 14px;
    line-height: 16px;
    display: block;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
#logo{
    color: #f6770e;
    font-size: 22px;
    font-weight: 700;
}